# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Makefile.in
/Makefile
/stamp-h1
/missing
/depcomp
/install-sh
/config.status
/compile
/config.log
/aclocal.m4
/config.h
/config.sub
/configure
/ltmain.sh
/libtool
/config.h.in
/config.guess
/res/Makefile.in
/res/Makefile
/src/Makefile.in
/src/Makefile
/src/resources.c
/src/glscene
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/libtool.m4
/autom4te.cache/
/src/.deps/
/src/.libs/
/nbproject/
/test/capt_test.trs
/test/test-suite.log
/test/Makefile
/test/capt_test
/test/capt_test.log
/test/Makefile.in
/test/patest.log
/test/patest
/test/patest.trs
/test/fft_test.trs
/test/fft_test.log
/test/fft_test
/PKGBUILD
/test/.deps/patest.Tpo
/test-driver
/test/test.hist
/src/configure.ac
